<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Family -->
      <package
            uri="http://emf-rest.com/Example"
            class="Example.ExamplePackage"
            genModel="src/main/resources/model/Family.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Publication -->
      <package
            uri="http://example.publicationsystem/v1"
            class="PublicationSystem.PublicationSystemPackage"
            genModel="src/main/resources/model/Publication.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated component -->
      <package
            uri="http://it.disim.univaq/architecturemodeling/v2"
            class="architecturemodeling.ArchitecturemodelingPackage"
            genModel="src/main/resources/model/component.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ArchitectureModel -->
      <package
            uri="http://it.disim.univaq/architecturemodeling/v2"
            class="Architecturemodeling.ArchitecturemodelingPackage"
            genModel="src/main/resources/model/ArchitectureModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ArchModel -->
      <package
            uri="http://it.gssi/architecture/v1"
            class="Architecture.ArchitecturePackage"
            genModel="src/main/resources/model/ArchModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ArchitectureTest -->
      <package
            uri="http://it.gssi/modelArchitecture/v0"
            class="Modelarchitecture.ModelarchitecturePackage"
            genModel="src/main/resources/model/ArchitectureTest.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Workflow -->
      <package
            uri="http://it.gssi/workflow"
            class="Workflowlang.WorkflowlangPackage"
            genModel="src/main/resources/model/Workflow.genmodel"/>
   </extension>

</plugin>
